[Interface]
Address = REPLACE_WITH_UNIQUE_NODE_ADDRESS/32
PrivateKey = REPLACE_WITH_FNOS_PRIVATE_KEY

[Peer]
PublicKey = REPLACE_WITH_CLOUD_PUBLIC_KEY
Endpoint = video.example.com:51820
AllowedIPs = 10.77.0.1/32
PersistentKeepalive = 25
